/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f3cbf3;
  --ifm-color-primary-dark: rgb(240, 202, 240);
  --ifm-color-primary-darker: rgb(221, 175, 221);
  --ifm-color-primary-darkest: rgb(220, 166, 220);
  --ifm-color-primary-light: rgb(240, 209, 240);
  --ifm-color-primary-lighter: rgb(243, 218, 243);
  --ifm-color-primary-lightest: rgb(245, 224, 245);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
