/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #005b30;
  --ifm-code-font-size: 95%;
  --ifm-footer-background-color: #022830;
  --ifm-spacing-horizontal: 3rem;
}


html[data-theme='dark'] {
  --ifm-color-primary: #FBC1F5;
  --ifm-background-color: #022830;
  --ifm-navbar-background-color: #022830;
}

.container a,
.container a:hover {
  text-decoration: underline;
}

.pagination-nav__item a {
  text-decoration: none;
}

.footer {
  background-color: #012026;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
